<html>

<head>
    <style type="text/css">
        :root {
            --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            --msger-bg: #fff;
            --border: 2px solid #ddd;
            --left-msg-bg: #ececec;
            --right-msg-bg: #579ffb;
        }

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: var(--body-bg);
            font-family: Helvetica, sans-serif;
        }

        .msger {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            width: 100%;
            max-width: 867px;
            margin: 25px 10px;
            height: calc(100% - 50px);
            border: var(--border);
            border-radius: 5px;
            background: var(--msger-bg);
            box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
        }

        .msger-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: var(--border);
            background: #eee;
            color: #666;
        }

        .msger-chat {
            flex: 1;
            overflow-y: auto;
            padding: 10px;
        }

        .msger-chat::-webkit-scrollbar {
            width: 6px;
        }

        .msger-chat::-webkit-scrollbar-track {
            background: #ddd;
        }

        .msger-chat::-webkit-scrollbar-thumb {
            background: #bdbdbd;
        }

        .msg {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;
        }

        .msg:last-of-type {
            margin: 0;
        }

        .msg-img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            background: #ddd;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
        }

        .msg-bubble {
            max-width: 450px;
            padding: 15px;
            border-radius: 15px;
            background: var(--left-msg-bg);
        }

        .msg-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .msg-info-name {
            margin-right: 10px;
            font-weight: bold;
        }

        .msg-info-time {
            font-size: 0.85em;
        }

        .left-msg .msg-bubble {
            border-bottom-left-radius: 0;
        }

        .right-msg {
            flex-direction: row-reverse;
        }

        .right-msg .msg-bubble {
            background: var(--right-msg-bg);
            color: #fff;
            border-bottom-right-radius: 0;
        }

        .right-msg .msg-img {
            margin: 0 0 0 10px;
        }

        .msger-inputarea {
            display: flex;
            padding: 10px;
            border-top: var(--border);
            background: #eee;
        }

        .msger-inputarea * {
            padding: 10px;
            border: none;
            border-radius: 3px;
            font-size: 1em;
        }

        .msger-input {
            flex: 1;
            background: #ddd;
        }

        .msger-send-btn {
            margin-left: 10px;
            background: rgb(0, 196, 65);
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.23s;
        }

        .msger-send-btn:hover {
            background: rgb(0, 180, 50);
        }

        .msger-chat {
            background-color: #ffffff;
        }

        .imgLoader {
            height: 100px;
            position: relative;
            left: 55px;
            top: -40px;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script type="text/javascript">
        const nameBOT = "Azure Chatbot Demo";
        const namePerson = "";

        $(function () {
            addChatMessage(nameBOT, "left", "How can I help you today?");

            $('#sendButton').click(function () {
                var message = $('#messageInput').val();
                askChatGPT(message);
                $('#messageInput').val('');
                return false;
            });

            function askChatGPT(message) {
                addChatMessage(namePerson, "right", message);

                $.ajax({
                    url: '/AskChatGPT',
                    type: 'POST',
                    data: JSON.stringify(message),
                    async: true,
                    contentType: 'application/json',
                    success: function (response) {
                        addChatMessage(nameBOT, "left", response.data);
                        $('.imgLoader').hide();
                    }
                });
            }

            function addChatMessage(name, side, text) {
                const msgHTML = `
                                <div class="msg ${side}-msg">
                                    <div class="msg-bubble">
                                    <div class="msg-info">
                                        <div class="msg-info-name">${name}</div>
                                        <div class="msg-info-time">${formatDate(new Date())}</div>
                                    </div>
                                    <div class="msg-text">${text}</div>
                                    </div>
                                </div>
                                `;

                $(".msger-chat").append($(msgHTML));

                $(".msger-chat").scrollTop($(".msger-chat").scrollTop() + 500);

                return false;
            }

            function formatDate(date) {
                const h = "0" + date.getHours();
                const m = "0" + date.getMinutes();

                return `${h.slice(-2)}:${m.slice(-2)}`;
            }
        });
    </script>


</head>

<body>
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i>Azure Chatbot Demo
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>

        <main class="msger-chat">
        </main>

        <form class="msger-inputarea">
            <input id="messageInput" type="text" class="msger-input" placeholder="Ask me anything about Azure..." />
            <button id="sendButton" class="msger-send-btn">Send</button>
        </form>
    </section>
</body>

</html>